# Question 1: Car Matrix Generation
Under the function named generate_car_matrix write a logic that takes the dataset-1.csv as a DataFrame. Return a new DataFrame that follows the following rules:

values from id_2 as columns
values from id_1 as index
dataframe should have values from car column
diagonal values should be 0.

In [2]:
import pandas as pd

In [3]:
dataset_path = pd.read_csv("D:\dataset-1.csv")
dataset_path

     id_1  id_2  route   moto    car     rv   bus  truck
0     829   827      1   2.05   4.14   4.14  10.1   15.2
1     829   821      4   6.63  13.26  13.26  32.4   48.5
2     829   804      7  14.41  28.92  28.92  64.7   97.0
3     829   822      6   5.90  11.81  11.81  28.8   43.2
4     829   826      9   2.87   5.81   5.81  14.2   21.2
..    ...   ...    ...    ...    ...    ...   ...    ...
336   803   802      3   1.70   3.40   3.40   6.9   10.3
337   803   805      4   3.00   6.00   6.00  12.0   17.9
338   803   825      3  11.59  23.28  23.28  50.1   75.2
339   803   806      9   3.80   7.70   7.70  15.3   23.0
340   803   830      1  16.18  32.47  32.47  72.6  108.8

[341 rows x 8 columns]

In [5]:
def generate_car_matrix(dataset_path):
    dataset = pd.read_csv(dataset_path)

    car_matrix = dataset.pivot(index='id_1', columns='id_2', values='car').fillna(0)

   
    car_matrix.values[[range(len(car_matrix))]*2] = 0

    return car_matrix
dataset_path = r'D:\dataset-1.csv'  

result_dataframe = generate_car_matrix(dataset_path)
result_dataframe

id_2,801,802,803,804,805,806,807,808,809,821,822,823,824,825,826,827,829,830,831
id_1,,,,,,,,,,,,,,,,,,,
801,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
802,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
803,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
804,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
805,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
806,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
807,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
808,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
809,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
821,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
822,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
823,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
824,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
825,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
826,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
827,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
829,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
830,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
831,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Question 2: Car Type Count Calculation
Create a Python function named get_type_count that takes the dataset-1.csv as a DataFrame. Add a new categorical column car_type based on values of the column car:

low for values less than or equal to 15,
medium for values greater than 15 and less than or equal to 25,
high for values greater than 25.
Calculate the count of occurrences for each car_type category and return the result as a dictionary. Sort the dictionary alphabetically based on keys.

In [6]:
def get_type_count(dataset):
    
    dataset['car_type'] = pd.cut(dataset['car'],
                                 bins=[-float('inf'), 15, 25, float('inf')],
                                 labels=['low', 'medium', 'high'],
                                 right=False)

    
    type_count = dataset['car_type'].value_counts().to_dict()

   
    type_count = dict(sorted(type_count.items()))

    return type_count

dataset = pd.read_csv("D:\dataset-1.csv")  # Replace with the actual path
result = get_type_count(dataset)
print(result)

{'high': 56, 'low': 196, 'medium': 89}

In [7]:
dataset['car_type']

0         low
1         low
2        high
3         low
4         low
        ...
336       low
337       low
338    medium
339       low
340      high
Name: car_type, Length: 341, dtype: category
Categories (3, object): ['low' < 'medium' < 'high']

# Question 3: Bus Count Index Retrieval
Create a Python function named get_bus_indexes that takes the dataset-1.csv as a DataFrame. The function should identify and return the indices as a list (sorted in ascending order) 
where the bus values are greater than twice the mean value of the bus column in the DataFrame.

In [10]:
def get_bus_indexes(dataset):
   
    bus_mean = dataset['bus'].mean()


    bus_indexes = dataset[dataset['bus'] > 2 * bus_mean].index.tolist()

   
    bus_indexes.sort()

    return bus_indexes

dataset = pd.read_csv("D:\dataset-1.csv")  
result = get_bus_indexes(dataset)
print(result)

[2, 7, 12, 17, 25, 30, 54, 64, 70, 97, 144, 145, 149, 154, 160, 201, 206, 210, 215, 234, 235, 245, 250, 309, 314, 319, 322, 323, 334, 340]

# Question 4: Route Filtering
Create a python function filter_routes that takes the dataset-1.csv as a DataFrame. 
The function should return the sorted list of values of column route for which the average of values of truck column is greater than 7.

In [11]:
def filter_routes(dataset):

    route_avg_truck = dataset.groupby('route')['truck'].mean()

    selected_routes = route_avg_truck[route_avg_truck > 7].index.tolist()

   
    selected_routes.sort()

    return selected_routes

dataset = pd.read_csv("D:\dataset-1.csv")  # Replace with the actual path
result = filter_routes(dataset)
print(result)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Question 5: Matrix Value Modification
Create a Python function named multiply_matrix that takes the resulting DataFrame from Question 1, as input and modifies each value according to the following logic:

If a value in the DataFrame is greater than 20, multiply those values by 0.75,
If a value is 20 or less, multiply those values by 1.25.
The function should return the modified DataFrame which has values rounded to 1 decimal place.

In [13]:
def multiply_matrix(input_dataframe):
  
    modified_dataframe = input_dataframe.copy()

   
    modified_dataframe[modified_dataframe > 20] *= 0.75
    modified_dataframe[modified_dataframe <= 20] *= 1.25

  
    modified_dataframe = modified_dataframe.round(1)

    return modified_dataframe

modified_result = multiply_matrix(result_dataframe)
print(modified_result)

    id_2  801  802  803
0  600.8  0.0  0.0  0.0
1  601.5  0.0  0.0  0.0
2  602.2  0.0  0.0  0.0

# Question 6: Time Check
You are given a dataset, dataset-2.csv, containing columns id, id_2, and timestamp (startDay, startTime, endDay, endTime). The goal is to verify the completeness of the time data by checking whether the timestamps for each unique (id, id_2) pair cover a full 24-hour period (from 12:00:00 AM to 11:59:59 PM) and span all 7 days of the week (from Monday to Sunday).

Create a function that accepts dataset-2.csv as a DataFrame and returns a boolean series that indicates if each (id, id_2) pair has incorrect timestamps. The boolean series must have multi-index (id, id_2).

In [39]:
import pandas as pd

def check_time_completeness(dataset):
    # Replace invalid date values with a default date (e.g., '1970-01-01')
    dataset['startDay'] = dataset['startDay'].replace('N/A', '1970-01-01')
    dataset['endDay'] = dataset['endDay'].replace('N/A', '1970-01-01')

    # Convert the timestamp columns to datetime format
    dataset['start_timestamp'] = pd.to_datetime(dataset['startDay'] + ' ' + dataset['startTime'], errors='coerce')
    dataset['end_timestamp'] = pd.to_datetime(dataset['endDay'] + ' ' + dataset['endTime'], errors='coerce')

    # Extract day of the week and hour from the start timestamp
    dataset['start_day_of_week'] = dataset['start_timestamp'].dt.day_name()
    dataset['start_hour'] = dataset['start_timestamp'].dt.hour

    # Extract day of the week and hour from the end timestamp
    dataset['end_day_of_week'] = dataset['end_timestamp'].dt.day_name()
    dataset['end_hour'] = dataset['end_timestamp'].dt.hour

    # Combine start and end timestamps for completeness check
    combined_timestamps = pd.concat([dataset[['id', 'id_2', 'start_day_of_week', 'start_hour']],
                                     dataset[['id', 'id_2', 'end_day_of_week', 'end_hour']]],
                                    keys=['start', 'end'])

    # Check if each (id, id_2) pair covers a full 24-hour period and spans all 7 days of the week
    completeness_check = (
        combined_timestamps.groupby(['id', 'id_2'])[['start_day_of_week', 'start_hour']]
        .agg(lambda x: set(x))
        .apply(lambda x: len(x['start_day_of_week']) == 7 and len(x['start_hour']) == 24, axis=1)
    )

    return completeness_check

# Assuming 'dataset_2' is your DataFrame containing the data
# Example Usage:
dataset_2 = pd.read_csv('D:\dataset-2.csv')  # Replace with the actual path
completeness_result = check_time_completeness(dataset_2)
print(completeness_result)

C:\Users\sanch\AppData\Local\Temp\ipykernel_8284\1657956535.py:13: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  dataset['start_day_of_week'] = dataset['start_timestamp'].dt.day_name()
C:\Users\sanch\AppData\Local\Temp\ipykernel_8284\1657956535.py:17: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  dataset['end_day_of_week'] = dataset['end_timestamp'].dt.day_name()

id       id_2
1014000  -1          False
1014002  -1          False
1014003  -1          False
1030000  -1          False
          1030002    False
                     ...
1330016   1330006    False
          1330008    False
          1330010    False
          1330012    False
          1330014    False
Length: 9254, dtype: bool